body {
  padding: 0;
  margin: 0;
}

#tela {
  position:absolute;
  z-index: -100;
}

#loghino {
  position:absolute;
  z-index: 100;
  align: center;
  left: 38%;
  top: 10%;
}

#loghino img{
  width: 55%;
  opacity: 0;

  animation-name: hello;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes hello {
  0% {opacity: 0;}
  20% {opacity: 1; width: 55%; margin-left: 0; margin-top: 0;}
  35% {opacity: 1; width: 55%; margin-left: 0; margin-top: 0;}
  55% {opacity: 1; width: 65%; margin-left: -4%; margin-top: -4%;}
  60% {opacity: 1; width: 55%; margin-left: 0; margin-top: 0;}
  70% {opacity: 1; width: 55%; margin-left: 0; margin-top: 0;}
  100% {opacity: 1; width: 55%; margin-left: -40%; margin-top: 0; }

}

#menu {
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 50;
  background-color: black;
  opacity: 0;

  animation-name: coloring;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes coloring {
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}

.circle img{
  width: 68%;
  opacity: 0;


  animation-name: fillingcircle;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.circle {
    z-index: 70;
    position: absolute;
    top: 5%;
    left: 19%;
}

@keyframes fillingcircle {
  0% {opacity: 0;}

  100% {opacity: 1;}
}
