@font-face {
  font-family: Musket bold;
  src: url(Musketbold.otf);
}

@font-face {
  font-family: Musket regular;
  src: url(Musketregular.otf);
}

body {
  padding: 0;
  margin: 0;
}

/*              --      ABOUT PAGE STYLE    --               */
#backabout {
  background-color: rgb(26, 24, 56);
}

#titoloabout {
  font-family: Musket bold;
  font-size: 2em;
  letter-spacing: 0.1em;
  color: #ff8676;
  text-align: center;
  margin-top: 9%;
  margin-bottom: 2%;
}

#goto {
  margin-top: 0%;
  text-align: center;
}

.parabout {
  font-family: Musket regular;
  font-size: 1em;
  color: #fff;
  text-align: justify;
  margin: 0% 21% 4% 21%;
  line-height: 2em;
}

#linkend {
  font-family: Musket regular;
  font-size: 1em;
  color: white;
  text-align: center;
  margin: 5% 0% 5% 0%;
  display: block;
}

#linkend:link {
  color: white;
}

#linkend:visited {
  color: white;
}

#linkend:hover {
  color: #ff8676;
  transition-delay: 0s;
}

#linkend:active {
  color: #ff8676;
  transition-delay: 0s;
}

.footerstring {
  font-family: Musket regular;
  font-size: 1em;
  letter-spacing: 0.06em;
  text-align: justify;
  color: #fff;
  float: left;
  margin: 0% 4% 0% 4%;
  transition: 0.5s color;
}

.footerstring a:link {
  text-decoration: none;
  color: #fff;
  ;
}

.footerstring a:visited {
  text-decoration: none;
  color: #fff;
  ;
}

.footerstring a:hover {
  text-decoration: none;
  color: #ff8676;
  transition-delay: 0s;
}

.footerstring a:active {
  text-decoration: none;
  color: #ff8676;
  t
}

#red {
  width: 100%;
  display: inline-block;
  margin: 0% 0% 0% 0%;
  padding: 2% 20% 2% 20%;
  list-style-type: none;
}

#logopoli{
  width: 50%;
}

#logopoli img{
  width: 60%;
}

#teachers{
  color: white;
  font-family: Musket regular;
  font-size: 0.7em;
  width: 20%;
  float: left;
}
#developpers{
  color: white;
  font-family: Musket regular;
  font-size: 0.7em;
  width: 25%;
  float: right;
}

h2 a{
  text-decoration: none;
  font-family: Musket regular;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: #ff8676;
}

h2 a:hover :active :visited {
  text-decoration: none;
  font-family: Musket regular;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: #ff8676;
}
/*              --      END ABOUT PAGE STYLE    --               */
#backrosa {
  background-color: #ff8676;
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: 200;
  animation-name: backentr;
  animation-delay: 2s;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes backentr {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

#bluexplore {
  position: absolute;
  z-index: 210;
  left: -100%;
  top: -2%;
  animation-name: bluentr;
  animation-delay: 2.3s;
  animation-duration: 2.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes bluentr {
  0% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

#tela {
  background-image: url(mappamundo.jpeg);
  position: absolute;
  z-index: -100;
}

#form {
  background-color: rgba(10, 10, 20, 0.8);
  position: absolute;
  z-index: 2000;
  width: 400px;
  height: 500px;
  left: 39%;
  top: 20%;
  border-radius: 16px;
  align-content: center;
}

#form h2 {
  font-family: Musket bold;
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  color: #ff8676;
  text-align: center;
  margin-top: 10%;
}

#form h3 {
  font-family: Musket regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  color: #ff8676;
  margin-top: 15%;
  text-align: center;
}

#form select {
  font-family: Musket regular;
  font-size: 15px;
  border-radius: 10px;
  border: #ff8676 1px solid;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px 32px;
  background-color: rgba(10, 10, 20, 0);
}

.thabutton {
  font-family: Musket bold;
  font-size: 20px;
  letter-spacing: 0.1em;
  background-color: #ff8676;
  border-radius: 10px;
  border: none;
  color: white;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin-top: 18%;
  margin-left: 28.7%;
}

.thabutton:hover {}

.thabutton:active {
  transform: translateY(2px);
}

#corpocentrale, #corpocentrale2 {
  position: absolute;
  z-index: 100;
  align: center;
  left: 38%;
  top: 15%;
  width: 54%;
}

#imgloghino {
  width: 55%;
  opacity: 0;
  float: left;
  margin-top: 1%;
}

#imgloghino2 {
  opacity: 1;
  width: 55%;
  margin-left: -40%;
  margin-top: 0;
  animation-name: muovi;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes muovi {
  0% {
    margin-left: -40%;
  }

  100% {
    margin-left: -200%;
  }
}

.circle img {
  width: 70%;
  opacity: 0;
}

.circle2 img {
  width: 70%;
  opacity: 1;
  animation-name: defilcircle;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.circle, .circle2 {
  z-index: 70;
  position: absolute;
  top: 13%;
  left: 22%;
}

@keyframes defilcircle {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#menulist {
  position: absolute;
  ;
  z-index: 220;
  margin-top: 17%;
  width: 40%;
  height: 30%;
}

#menuchile {
  margin-right: 80%;
}

#menulist ul {
  list-style-type: none;
  color: white;
  font-family: Musket regular;
  font-size: 35px;
  margin-left: -40%;
  animation-name: menul;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes menul {
  0% {
    margin-left: -40%;
  }

  100% {
    margin-left: 10%;
  }
}

#menulist ul li {
  margin-bottom: 11%;
}

#menulist ul li a:link {
  color: rgb(172, 210, 237);
  text-decoration: none;
}

/* visited link */
#menulist ul li a:visited {
  color: rgb(172, 210, 237);
  text-decoration: none;
}

/* mouse over link */
#menulist ul li a:hover {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

#chile {
  position: absolute;
  z-index: 220;
  left: 37%;
  width: 62%;
  display: none;
}

#colombia {
  position: absolute;
  z-index: 220;
  left: 37%;
  width: 62%;
  display: none;
}

#hongkong {
  position: absolute;
  z-index: 220;
  left: 37%;
  width: 62%;
  display: none;
}

#lebanon {
  position: absolute;
  z-index: 220;
  left: 37%;
  width: 62%;
  display: none;
}

.chilean {
  margin-top: 20%;
  height: 600px;
  float: left;
}

#abstract {
  float: right;
  font-family: Musket regular;
  color: white;
  margin-top: 26%;
  width: 43%;
  margin-right: 9%;
}

#abstract h1 {
  font-size: 35px;
}

#abstract p {
  font-size: 24px;
  letter-spacing: 1pt;
}

#textsupport {
  position: absolute;
  z-index: 100;
  right: 5%;
}

#textback {
  position: absolute;
  z-index: 100;
  right: 5%;
}

h1 {
  float: right;
  width: 100%;
  height: 10%;
  font-family: Musket bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  color: #ff8676;
  text-decoration: none;
}

.button {
  animation-name: upup;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes upup {
  0% {
    font-size: 15px;
  }

  50% {
    font-size: 22px;
  }

  100% {
    font-size: 15px;
  }
}
